<!DOCTYPE html>
<html 
	xmlns=th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- 경로 매우 주의!!-->
    <link href="../../css/reset.css" type="text/css" rel="stylesheet">
    <link href="../../css/utils.css" type="text/css" rel="stylesheet">
    <link href="../../css/style.css" type="text/css" rel="stylesheet">
    <link href="../../css/button.css" type="text/css" rel="stylesheet">
    <link href="../../css/component/member/stuff/component-reg.css" type="text/css" rel="stylesheet">
    <!-- <link href="../../css/component/component.css" type="text/css" rel="stylesheet"> -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="../../js/member/stuff/reg2.js" defer="defer"></script>
    <!-- <script type="text/javascript" src="../../js/member/stuff/list2.js"></script> -->
</head>

<body id="reg-vue">
    <!-- =================== reg1 ======================= -->
    <section class="reg1-form" :class="{dnone: isActive}">
        <h1 class="d-none">reg1</h1>

        <section class="canvas-1 d-fl fl-dir-col" >
            <!-- =================== reg1 : header ===================== -->
            <header class="d-fl">
                <div>
                    <a href="./list" class="icon icon-back">뒤로가기</a>
                </div>
                
                <div class="hd-title-box">
                    <h1 class="hd-title">카테고리 설정</h1>
                </div>
            </header>
    
            <!-- =================== reg1 : main ===================== -->
            <main>
                <div class="reg1-main-content">
                    <h1>지역 주민들과 어떤 물건을 같이 살까요?</h1>
                </div>
    
                <div class="category-select">
                    <ul class="select-box-list">
                        <li><button class="select-box categ-eff" name="merchandise">일반상품</button></li>
                        <li><button class="select-box categ-eff" name="supermarket">대형마트 대량 물품</button></li>
                        <li><button class="select-box categ-eff" name="delivery_food">딜리버리 푸드</button></li>
                    </ul>
                    <button class="btn-next m-t-button" @click.prevent="dnoneHandler">다음</button>
                </div>
            </main>
    
        </section>
  </section>

    <!-- =================== reg2 ======================= -->
    <section class="reg2-form" :class="{dnone: isActive === false}">
        <h1 class="d-none">reg2</h1>

        <section class="canvas-1 d-fl fl-dir-col" >

            <h1 class="d-none">reg2</h1>
            <!-- header에 id를 부여해줄 것 - id는 html 짠사람이 부여해주기 때문이다! 이거로 css 경로 부여! -->
        
            <!-- =================== reg2 : header ===================== -->
            <header class="">
                
                <div class="reg2-back">
                    <a class="icon icon-back">뒤로가기</a>
                </div>
                
                <div class="hd-title-box" @click.prevent="testHandler">
                    <h1 class="hd-title">글 등록하기</h1>
                </div>
            </header>
    
            <!-- =================== reg2 : main ===================== -->
            <main class="d-fl-jf m-b">
                
                <!-- form method post로 수정하기! -->
                <form action="reg" method="post" enctype="multipart/form-data" v-model="stuff">
        
                    <div>
                        <input @click.prevent="regStuffHandler" type="submit" class="reg2-post" value="올리기">
                    </div>
                    
                    <div class="file-box">
                        <!-- 파일업로드 버튼 만드는 법 -->
                        <label for="file">
                            <div class="btn-file">파일업로드</div>
                            <div class="btn-uploaded-files">파일업로드된 파일들1</div>
                            <div class="btn-uploaded-files">파일업로드된 파일들2</div>
                        </label>
    
                        <input type="file" class="d-none" id="file" name="imgs" accept="image/*" multiple @change="regImgHandler">
                        <p>upload 이미지 이름 : {{file.name}} ({{file.size}})</p>
                    </div>

                    <!-- 기존 카테고리 -->
                    <select class="category-box" name="category_list">
                    	
                    	<!-- 타임리프 each 이용!! --> 
                        <option class="" value="merchandise" name="merchandise">일반상품</option>
                        <option class="" value="supermarket" name="supermarket">대형마트 대량 물품</option>
                        <option class="" value="delivery_food" name="delivery_food">딜리버리 푸드</option>
                    </select>

                    <!-- 가로 스크롤 수정하기 -->
                    <div class="select-box">
                        <label for="title" class="input-field-txt">제목</label>
                        <input type="text" class="input-field" id="title" name="title" v-model="stuff.title">
                    </div>
                    
                    
                    <!--  인원수 조절  -->
                    <div class="select-box2 d-fl">
                        <!-- label 태그 for="people-count" 적으면 온클릭 오류 발생함.  -->
                        <label for="" class="input-field-txt"  v-model="stuff.numPeople">인원</label> 
                            <div class="people-count-box">
                                <input class="btn-minus" id="people-count" @click.prevent="numPeopleMinusHandler"
                                    type="button"  value="">
                                <input type="text" class="people-count-num" name="numPeople" id="result" 
                                    :value="stuff.numPeople">
                                <input class="btn-plus" id="people-count" @click.prevent="numPeoplePlusHandler"
                                    type="button"  value="">
                            </div>
                    </div>


                        
                 <div id="btn-date" class="select-box d-fl jf-sb">
                    <label for="datetime-local" class="input-field-txt">마감시간</label>
                        <input
                            class="date-pic"
                            type="datetime-local"
                            data-placeholder="날짜를 선택해주세요."
                            required
                            aria-required="true" 
                            name="deadline"
                            value={startDateValue}
                            className={styles.selectDay}
                            onChange={StartDateValueHandler}
                            v-model="stuff.deadline"
                            ></input>
                    </div>

                    <div class="select-box">
                        <label for="price" class="input-field-txt">가격</label>
                        <input type="text" class="input-field" name="price" id="price"
                            v-model="stuff.price">
                    </div>
                    
                    <!-- required 속성: 해당 필드가 기재되었을 때만 submit 가능. -->
                           
                    <div class="select-box">
                        <label for="place" class="input-field-txt">장소</label>
                        <input type="text" class="input-field" name="place" id="place"
                            v-model="stuff.place">
                    </div>
    
                    <div class="select-box">
                        <label for="url" class="input-field-txt">링크</label>
                        <input type="text" class="input-field" name="url" id="url"
                            v-model="stuff.url">
                    </div>
    
                    <div class="select-box select-content d-fl fl-dir-col">
                        <label for="content" class="input-field-txt2">내용</label>
                        <textarea class="input-field input-content" name="content" id="content"cols="30" rows="10"
                            v-model="stuff.content"></textarea>
                    </div>
                </form>
            </main>

        </section>
    </section >
</body>

</html>